#hero {
  margin-top: 5.5625rem;
  display: grid;
  grid-template-areas: 
  "a b"
  "c b"
  ;
  gap: 0 6.75rem;

  & #infos {
    grid-area: a;
    margin-inline: .875rem;

    & p:nth-of-type(1) {
      font: 700 1rem/1.5 var(--ff-roboto-mono);
      text-transform: uppercase;
      background-image: linear-gradient(to right, #C7C9CC 0%, #3D3D3D 100%);
      color: transparent; 
      background-clip: text; 
      -webkit-background-clip: text;
    }

    & h3 {
      font: 800 4.5rem/1.3 var(--ff-sora);
      text-transform: uppercase;
      color: white;
      max-width: 32rem;
    }
  }

  & #questions {
    grid-area: c;
    margin-inline: .875rem;
    .question {
      margin-top: 1.6875rem;
      max-width: 24.125rem;
      display: flex;

      & p:nth-of-type(1) {
        color: var(--content-brand);
        text-transform: none;
        font: 400 .875rem/1.5 var(--ff-roboto-flex);
      }

      & p:nth-of-type(2) {
        color: var(--content-secondary);
        text-transform: none;
        font: 400 .75rem/1.5 var(--ff-roboto-flex);
      }

      & .question-text {
        margin-left: .5rem;
      }
    }
  }

  & #draw {
    margin-block: 2.125rem;
    grid-area: b;
    display: flex;
    flex-direction: column;
    width: 30.125rem;

    & #title-form {
      & p:nth-of-type(1) {
        color: white;
        font: 700 1.25rem/1.5 var(--ff-roboto-flex);
        text-transform: uppercase;
      }

      & p:nth-of-type(2) {
        font: 400 1rem/1.5 var(--ff-roboto-flex);
      }
    }

    & #form {
      & form {
        display: flex;
        margin-top: 2.5rem;

        & label {
          text-transform: uppercase;
          color: var(--content-secondary);
          font: 700 1rem/1.5 var(--ff-roboto-flex);
          text-transform: uppercase;
          display: inline-block;
        }

        & input {
          all: unset;
          background-color: var(--bg-secondary); 
          width: 5.375rem;
          height: 3.5rem;
          margin-top: .5rem;
          text-align: center;
          color: white;
          font: 700 2rem/1.5 var(--ff-sora);
          border-radius: .5rem;
          transition: .2s;
        
          &:hover,
          &:focus {
            background-color: var(--bg-tertiary);
          }
        }
                      

        & .number-field {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: .75rem;
        }
      }

      & #repeat-num {
        display: flex;
        align-items: center;
        margin-top: 1.3125rem;

        & .repeat-body {
          cursor: pointer;
          display: flex;
          width: 1.875rem;
          height: 1.25rem;
          border-radius: 1rem;
          background-image: linear-gradient(to right, #D586E0 0%, #91A1FA 98.93%);
          align-items: center;
          & #circle-repeat {
            width: .875rem;
            height: .875rem;
            background-color: white;
            border-radius: 50%;
            margin: 3px;
            transition: 0.3s ease;
            
            &.circle-animation {
              margin-left: auto;
            }
          }
        }

        & p {
          margin-left: .5rem;
          color: white;
          font: 400 .75rem/1.5 var(--ff-roboto-flex);
        }
      }

      & button {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: var(--bg-tertiary);
        text-transform: uppercase;
        font: 700 1rem/1.5 var(--ff-roboto-flex);
        padding-block: 1rem;
        cursor: pointer;
        margin-top: 2.5rem;
        gap: .5rem;
        border: 3px solid transparent;
        border-radius: .5rem;
        transition: .1s;

        &:hover {
          border: 3px solid var(--bg-tertiary);
          background-color: var(--bg-primary);
        }
      }
    }
  }
}

@media (max-width: 79.8em) {
  #hero {
    grid-template-areas: 
    "a"
    "b"
    "c"
    ;
    display: grid;
    flex-direction: column;
    margin-top: 2.875rem;
    gap: 0;

    & #infos {
      grid-area: a;
      margin-inline: 0;
      & h3 {
        font: 800 2.5rem/1.3 var(--ff-sora);
        text-transform: uppercase;
        color: white;
      }
    }
    
    & #questions {
      grid-area: c;
      margin-top: 5rem;
      margin-inline: 0;
    }

    & #draw {
      grid-area: b;
      max-width: 20rem;
      margin-block: 0;
      margin-top: 2.625rem;
      & #form {
        flex-direction: column;
      }
    } 
  }
}
